<div class="my-3 d-flex justify-content-between align-items-center">
  <h1><%= @note.title %></h1>
  <%= link_to "Edit Note", edit_note_path(@note), class: "btn btn-primary", "data-controller": "turbo" %>
</div>

<%= render "partials/alerts/success" %>

<p><%= @note.body %></p>

<p>Date: <%= @note.date.strftime("%e-%b-%y") %></p>